---
layout: default
---

<div class="posts">
  {% assign posts = paginator.posts | sort: 'weight' | sort: "date" | reverse %}
  {% assign currentdate = "" %}
  {% for post in posts %}
  {% assign tinypost = post.tiny %}
  <article class="post">
    {% capture postdate %}{{post.date | date: '%Y-%m-%d' }}{% endcapture %}
    {% if postdate != currentdate %}
    {% assign currentdate = postdate %}
    <h1>{{ post.date | date: "%B %e, %Y" }}</h1>
    {% endif %}
    {% unless tinypost %}
    <a href="{{ site.baseurl }}{{ post.url }}">

      <h2>{{ post.title }}</h2>

      <div>
        {% if post.image %}
        <img src="{{site.baseurl}}{{post.image}}" alt="{{post.title}}" />
        {% endif %}

        <p class="post_info">
          <span class="reading_time">
            {% include reading_time.html content=post.content %}
          </span>
        </p>

      </div>
    </a>
    {% endunless %}
    <div class="entry">
      {% if tinypost %}
      {%capture postlink%}
      <p>
        {% comment %}
        we need that opening P because we are replacing one in the next step.
        {% endcomment %}
        <a href="{{ site.baseurl }}{{ post.url }}">
          &raquo;
        </a>
        {% endcapture %}
        {{ post.content | replace_first: "<p>", postlink }}

        {% else %}
        {{ post.excerpt }}
        {% endif %}
    </div>
    {% unless tinypost %}
    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">
      &raquo; Read More
    </a>
    {% endunless %}
  </article>
  {% endfor %}

  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
    <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <span class="webjeda">{{ page }}</span>
    {% elsif page == 1 %}
    <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page
      }}</a>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
    <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>