/*
Make everything look nicer.
*/
.markdown-embed {
    border: none;
    padding-left: 0;
}

DIV.markdown-preview-view.markdown-rendered {
    padding: 0;
}
/*
Ensures that code within inline dataview js looks correct
*/
code.language-dataviewjs {
    display: inline;
}
/*
 Makes embedded callouts take up less space
*/

.callout.node-insert-event {
    margin:0;
}
