

/* Attempt to fix iOS scroll gestures by overriding base styles */

html {
  height: auto !important; /* Override height: 100% */
  overflow-y: visible !important; /* Override overflow: hidden specifically for vertical */
}

body {
  height: auto !important; /* Override height: 100% */
  overflow-y: visible !important; /* Override overflow: hidden specifically for vertical */
}

.markdown-preview-view {
  overflow-y: visible !important; /* Override overflow-y: auto */
  height: auto !important;
  max-height: none !important;
}

/*
Footer improvements
*/
hr.footnotes-sep {
  display: none;
}

.referred {
  border: none;
}
a.footnote-backref {
  color: var(--text-accent);
}

/*
Lists on pagination pages
*/ 

ul.paginated-list{
    list-style: none;
    padding: unset;
    line-height: 1.6;
}

ul.paginated-list > li {
 
  display: flex;
}

ul.paginated-list > li span {
  flex: 0 0 150px;
}


time {
  font-family: monospace;
  font-style: normal;
}

/*
awesome transitions
*/

@view-transition {
  navigation: auto;
}


/* 
General CSS, partially taken over from former flenker.blog
*/

header h1 {
  font-size: 2.3em !important;
}




/*
Header and Nav
*/
nav li {
  display: inline-block;
  margin-right: 8px;
  
}
nav ul {
  padding: unset !important;
}

/* 
  Footer
*/
.footer {
  padding: 25px 0;
  text-align: center;
}

.footer hr {
  border:0;
  border-top:1px dashed;
}

.header-tags a {
  margin-right: 8px;
}

/*
Blip styling
*/


.blipheader {
  justify-content: space-between;
  display:flex;
  align-items: center;
 
}
.blipheader .timeinfo {
  font-size: 15px;
}
.blipheader .avatar {
  display: flex;
  width:46px;
  height:46px;
  border-radius:8px;
}

.blipheader .userinfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.blipfooter {
  font-size: 15px;
}

hr {
  border:0 !important;
  border-top:1px dotted !important;
  margin: 8px 0 !important;
}

/*
remove drop shadow in code blocks
*/
code[class*='language-'], pre[class*='language-'] {
  text-shadow: none !important;
}

.centered {
  text-align: center;
}