<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<meta name="author" content="{{ site.author.name }}" />

{% assign description = page.description |default: page.excerpt | default: site.description | strip_html | strip %}
<meta name="description" content="{{ description}}" />
<meta name="og:description" content="{{ description }}" />
<meta property="twitter:description" content="{{ description }}" />


<meta property="og:locale" content="en_US" />
<link rel="canonical" href="{{ page.url | absolute_url }}" />
<meta property="og:url" content="{{ page.url | absolute_url }}" />

<meta property="og:site_name" content="{{site.name}}" />
<title>{% if page.title and page.title != "" and page.tiny != true %}{{ page.title }} – {% endif %}{{ site.name }} –
    {{ site.tagline }}
</title>
<meta property="og:title"
    content='{% if page.title and page.title != "" and page.tiny != true %}{{ page.title }} – {% endif %}{{ site.name }}' />


{% if paginator.previous_page %}
<link rel="prev" href="{{ paginator.previous_page_path | absolute_url }}" />
{% endif %}
{% if paginator.next_page %}
<link rel="next" href="{{ paginator.next_page_path | absolute_url }}" />
{% endif %}

{% if page.image %}
<meta property="og:image" content="{{ site.url }}{{ page.image }}" />
<meta property="twitter:image" content="{{ site.url }}{{ page.image }}" />
<meta name="twitter:card" content="summary_large_image">
{% else %}
<meta name="twitter:card" content="summary">
<meta property="twitter:image" content="{{ site.url }}/images/logo.png" />
{% endif %}

{% if page.date %}
<meta property="og:type" content="article" />
<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
{% else %}
<meta property="og:type" content="website" />
{% endif %}