{%if settings.dgHomeLink === true%}
    <nav class="navbar">
        <div class="navbar-inner">
            <a href="/" style="text-decoration: none;">
                <h1 style="margin: 15px !important;">{{meta.siteName}}</h1>
            </a>
        </div>
        {% if settings.dgEnableSearch === true%}
            {% include "components/searchButton.njk" %}
        {%endif%}
    </nav>
    {%else%}
        {%- if settings.dgEnableSearch === true%}
        <div class="empty-navbar" >
            {% include "components/searchButton.njk" %}
        </div>
        {%- endif%}
    
{%endif%}