<div>
    <hr style="border:0;border-top:1px dashed;">
    <p>
        <a href="/">philippflenker.com</a> was last updated <time class="human-date-relative" datetime="{{ userComputed.builtAt }}" data-date="{{ userComputed.builtAt }}"></time>
        </p>
    <p>🛜&nbsp;<a href="/feed.xml">rss</a></p>
    <p>👾</p>
</div>