<span style="text-align:center;">
<hr style="border:0;border-top:1px dashed;">
{%- if updated %}
<p>
    <em>Last Update: 
        <span class="human-date" data-date="{{updated}}"></span>
    </em>
</p>
{%- endif %}
<p>👾</p>
</span>