
<div class="footer">
    <hr>
    <p class="builtat">
        This page was last updated on
        <time datetime="{{ userComputed.builtAt | dateToRfc3339}}"> {{ userComputed.builtAt |toDateHuge}}</time>
        .
    </p>
</div>
