
{%- if userComputed.layout.nav.show %}
<div class="header-nav">
  <a href="/" aria-label="Home" class="header-logo">
    <img src="/img/logo.svg" alt="Logo" width="40" height="40" style="view-transition-name: logo;">
  </a>
  <nav aria-label="Main navigation" class="header-nav-items" style="view-transition-name: nav;">
    <p>
      <a href="/">home</a> ⋮
      <a href="/blips/">blips</a> ⋮
      <a href="/articles/">articles</a> ⋮
      <a href="/now/">now</a> ⋮
      <a href="/about-me/">about&nbsp;me</a>
    </p>
  </nav>
</div>
{%- endif %}

{%- if userComputed.layout.header.title %}
  <h1 style="view-transition-name: title;">{{ title }}</h1>
  {%- if userComputed.layout.header.dates or userComputed.layout.header.tags%}
    <div class="header-meta">
  {%- endif %}
{%- endif %}
{%- if userComputed.layout.header.created %}
  <p class="header-created">
    <span class="created-date">
      <time datetime="{{ userComputed.created | dateToRfc3339}}"> {{ userComputed.created | toDateHuge}}</time>        
    </span>
  </p>
{%- endif %}
{%- if userComputed.layout.header.tags %}
    <p class="header-tags">
      {%- for tag in userComputed.tags %}
          <a class="tag" onclick="toggleTagSearch(this)">
            #{{tag}}
          </a>
      {%- endfor %}
    </p>
  
{%- endif %}
{%- if userComputed.layout.header.dates or userComputed.layout.header.tags %}
  </div>
{%- endif %}
