<div>
    <a href="/" aria-label="Home"> 
      <img src="/img/logo.svg" alt="Logo" width="40" height="40"> 
    </a>
    <nav aria-label="Main navigation">
        🏠&nbsp;<a href="/">home</a>  ⋮ 
        🗣️&nbsp;<a href="/blips/">blips</a> ⋮  
        📝&nbsp;<a href="/articles/">articles</a>  ⋮ 
        🕰️&nbsp;<a href="/now/">now</a> ⋮ 
        🪪&nbsp;<a href="/about-me/">about me</a>
    </nav>
</div>
