<link rel="alternate" type="application/rss+xml" title="{{ meta.siteName }} - {{ userComputed.description }}" href="{{  meta.siteBaseUrl }}/feed.xml" />
<meta name="description" content="{{ userComputed.description }}">

<meta name="og:description" content="{{ userComputed.description }}" />
<meta property="og:type" content="profile" />
